<%unless flash.empty? %>
  <% flash.each do |type,message| %> 
  
  	 <div class='alert <%="alert-#{type}"%>' >
     
       <a class="close" data-dismiss="alert" href="#">close</a>
       
       <span>
          <%=message%>
       </span>
           
     </div> 
  
  <%end%>

<%end%>


