<div id="myCarousel" class="carousel slide">
    
    <!-- Carousel items -->
    
    <div class="carousel-inner">
    	<div class="item active">
    	  <%logger.info "DEBUG : =================> #{@product.assets.first.image(:medium)}"%>
    	  <%=image_tag @product.assets.first.image(:medium)%>	
    	  <!--Ricorda che se non hai caricato immagini, 
    	  	per default /images/medium/missing.png  -->
    	</div> 
    	
    	<%@product.assets.each do |asset| %>
    	<div class="item"> 
    		<%=image_tag asset.image(:medium)%>
        </div>
    	<%end%>
    
    </div>
    
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    
</div>