<br />
<span class="main_nav first"><%=link_to 'HOME',root_path%></span>
<span class="main_nav"><%=link_to 'CATALOG','#'%></span>
<span class="main_nav"><%=link_to 'BLOG','#'%></span>
<span class="main_nav"><%=link_to 'ABOUT US','#'%></span> 
